$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$color_white: #ffffff;
$color_keyline: #d8d8d8;
$color_light_gray: #f9f9f9;

$color_dark_sienna: #3C1518;
$color_up_maroon: #69140E;
$color_brown: #A44200;
$color_tan: #D0CD94;
$color_ming: #3C787E;

$color_cocoa_brown: #DE7516;
$color_gamboge: #EAAE0C;
$color_sepia: #733412;
$color_int_orange: #BA120F;
$color_olive_drab: #76A518;