@import "~normalize.css";
@import "./variables";

body {
  background-color: $color_white;
  color: $color_dark_sienna;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
}