:root {
  --main-gradient: linear-gradient(to right bottom, #ff6c78, #ff756b, #ff805d, #ff8c51, #ff9945, #ff983f, #ff9639, #ff9532, #ff8333, #ff7037, #ff5c3d, #ff4444);
  --text-gradient: linear-gradient(to right, #ff9334, #fd7e40, #f86b4c, #ee5957, #e14962);
}

.app,
.full-height {
  min-height: 100vh;
}

.highlight {
  position: relative;
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(46px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(38px);
  }
}