@import "../styles/variables";

.menuCategory {
  background-color: $color_gamboge;
  padding: .5em;
  margin: 0;
}

.menuList {
  padding: 0;
  margin: 0 0 1.5em;

  li {
    list-style-type: none;
    box-sizing: border-box;
  }
}